<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BlogPost Genie</title>
  <link rel="icon" href="/img/icon.png">    
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
    <header>
        <h1><a href="/">BlogPost Genie</a></h1>
        <nav>
          {{#if logged_in}}
            <a href="/new-post">Create a Post</a>
            <a id="logout">Logout</a>
          {{else}}
            <a href="/login">Login</a>
          {{/if}}
        </nav>
    </header>

    {{{body}}}
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>