<link rel="stylesheet" href="/css/login.css">

<section>
    <form id="login-form">
      <h2>Create an Account</h2>
      <div>
        <label>Name</label>
        <div>
          <input type="text" placeholder="Enter your name" id="username-signup">
        </div>
      <div>
        <label>Email</label>
        <div>
          <input type="email" placeholder="e.g. alexsmith@gmail.com" id="email-signup">
        </div>
      </div>
      <div>
        <label>Password</label>
        <div>
          <input type="password" id="password-signup">
        </div>
      </div>
      <button type="submit" id="register-btn">Login</button>
    </form>
</section>

<script src="./js/register.js"></script>